:root{
  --length-progress:-560px;

}
.App{
  display: flex;
  gap: 30px;
  justify-content: center;
  padding-top: 60px;
  background:url('./img/v960-ning-31.jpg') center/cover no-repeat;
  width: 100vw;
  height: 100vh;

}
.main-wrap{
  display: flex;
  gap: 30px;
  justify-content: center;
  width: 100%;
  height:100%;
}



.container__text{
  margin:0 auto 30px auto;
  width: 550px;  
  padding: 0 5px;
  font-size: 20px;
  text-align: justify;
  color:rgba(0,0,0,0.5)
}
.main{
  position: relative;


}
.tooltip{
  position: absolute;
  left: 4px;
  top: -35px;
  border: 0.3px solid rgba(0,0,0, 0.2);
  padding: 5px;
  border-radius: 7px;
  color: rgba(0,0,0, 0.4);
  font-size: 10px;
}
.container__text{

}
.letter__green, .error{
    background: limegreen;
    padding: 3px;
    border-radius: 3px;
    color: white;
}

.error{
  background: red;
  
}
.letter__printed{
  color:black;
}



.input-wrap{
  border-radius: 10px;
  padding: 3px;
  overflow: hidden;
  
}
.input{
  width: 550px;
  height: 35px;
  overflow: hidden;
  font-size: 20px;
  padding: 5px 8px;
  font-family: 'Arial';
  resize: none;
  border-radius: 10px;
  outline: none;
  box-sizing: border-box;
  border: none;
  background-color: rgba(0,0,0,0.05);
  box-shadow: var(--length-progress) -1px 2px 5px green;
  transition: all 0.1s ease;
}

.red{
  box-shadow: 0px 0px 5px 2px red;
}

.info-block{
  padding: 20px 40px;
  border: 1px solid black;
  border-radius:20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  height: 200px;
  width: 170px;
  gap: 30px;
  font-size: 15px;

}

.accuracy{
  text-align: center;

}

.speed{
  text-align: center;

}
.info-value{
  font-size: 18px;
    font-weight: 600;
    font-style: normal;
}
.control-buttons{
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}
.control-button{
  padding: 8px;
  border-radius:5px;
  border:1px solid black;
  text-transform: uppercase;
  font-size: 13px;
  cursor: pointer;
  background-color: white;
  color:black;
}

.cover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
}


.stop-screen__word{
  display: block;
  text-transform: uppercase;
  font-size: 30px;
}
.final-block{
  display: flex;
  flex-direction: column;
  width: 250px;
  gap: 10px;
  
}
.final-block .control-button{
  margin-top: 20px;
}



/* First screen */

.title-block{
  width: 500px;
  height: 500px;
  border-radius:20px;
  padding: 50px 20px;
  background-color: rgba(255,255,255,0.3);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;  
}


.title{
  margin-bottom: 40px;
}

.title-subtext{
  margin-bottom: 15px;

}
.title-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  
}
.title-lang-wrap{
  display: flex;
  justify-content: center;
  border-radius:15px;
  border: none;
  background-color:rgba(255, 255, 255, 0.8)

  /* gap: 10px; */
}
.title-input{
  padding: 10px;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items:center;
  position: relative;
  border-radius: 15px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.title-input.active{
  background: aqua;
  color: black;
}
.title-input input{
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px; 
  visibility: hidden;
   opacity: 0; 
}
.title-button{
  margin-top: 30px;
  display: block;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  background: aqua;
  cursor: pointer;
}


/* Loader */
.preloader{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
}

.spinner {
   width: 57.6px;
   height: 57.6px;
   animation: spinner-y0fdc1 2s infinite ease;
   transform-style: preserve-3d;
}

.spinner > div {
  background-color: rgba(71,75,255,0.2);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 2.2px solid #474bff;
}

.spinner div:nth-of-type(1) {
   transform: translateZ(-28.8px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
   transform: rotateY(-270deg) translateX(50%);
   transform-origin: top right;
}

.spinner div:nth-of-type(3) {
   transform: rotateY(270deg) translateX(-50%);
   transform-origin: center left;
}

.spinner div:nth-of-type(4) {
   transform: rotateX(90deg) translateY(-50%);
   transform-origin: top center;
}

.spinner div:nth-of-type(5) {
   transform: rotateX(-90deg) translateY(50%);
   transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
   transform: translateZ(28.8px);
}

@keyframes spinner-y0fdc1 {
   0% {
      transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
   }

   50% {
      transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
   }

   100% {
      transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
   }
}


