.App{
  display: flex;
  gap: 30px;
  margin-top: 60px;
}

.container__text{
  margin:0 auto 30px auto;
  /* border: 1px solid black; */
  width: 500px;
  /* height: 100px; */
  /* overflow: hidden; */
  padding: 0 5px;
  font-size: 20px;
  text-align: justify;
  color:rgba(0,0,0,0.5)
}
.main{

}

.letter__green, .error{
    background: limegreen;
    padding: 1px 3px 1px 3px;
    color: white;
}
.error{
  background: red;
  
}
.letter__printed{
  color:black;
}




.input{
  width: 500px;
  height: 35px;
  overflow: hidden;
  font-size: 20px;
  padding: 5px 8px;
  font-family: 'Arial';
  resize: none;
  border-radius: 10px;
  outline: none;
  box-sizing: border-box;
  border: none;
  background-color: rgba(0,0,0,0.05);
}
.red{
  border: 2px solid red;
}


.info-block{
  padding: 20px 40px;
  border: 1px solid black;
  border-radius:20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  height: 200px;
  width: 170px;
  gap: 30px;
  font-size: 15px;
  font-style: italic;

}


.accuracy{
  text-align: center;

}

.speed{
  text-align: center;

}
.info-value{
  font-size: 18px;
    font-weight: 600;
    font-style: normal;



}